:root {
  --page-padding: 20px;
  --content-width-lg: 1240px;
  --content-width-md: 840px;

  /* colors */
  --color-grey: #dee3e9;
  --color-grayc-chateau: #a7aeb7;
  --color-light-blue: #6C6CFF;
  --color-blue-ribbon: #4038ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
