.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 var(--page-padding);
  text-align: center;
  border-bottom: 1px solid var(--color-grey);
}

.heading {
  font-family: var(--font-primary);
  font-size: 28px;
  font-weight: 400;
}